<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/weatherConsult.css">
        <title>consutl</title>
    </head>
    <body>
        <p id="MsjErr"></p>
        <form id="coordForm">
            <label for="coordinates">Coordinates</label>
            <input type="text" name="coordinates" id="coordinates" placeholder="40.22 -74.99">
            <button type="submit">Request</button>
        </form>
            <div id="WeatherInfo">
                <h1 id="temp"> Temperature: </h1>
                <h1 id="humidity"> humidity: </h1>
                <h1 id="wind"> Wind: </h1>
                <h1 id="clouds"> Clouds: </h1>
                <h1 id="cityname"> City: </h1> 
            </div>

            <script type="text/javascript" src="../../public/js/consultWeather.js"></script>
        </form>
    </body>
</html>