<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/x-icon" href="../../public/images/TWeatherLogo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../../public/css/home.css">
        <title> < WeatherApp > </title>
    </head>
    <body>

        <div id="container">
            <h1 id="Title"><span id="TRUE">TRUE</span> WeatherApp<h1>
            <h1 id="errMsj"></h1>

            <form id="ApiForm">
                <input type="text" id="apiKey" name="key" placeholder="Apikey" maxlength="32" autocomplete="off"><br>
                <label for="apiKey" id="ApiText">Introduce your OpenWeather Map Api Key </label><br>
                <button type="submit" class="SendButton">Submit</button>
            </form>
                <img src="../../public/images/OpenWeatherLogo.png" id="OpenWeatherLogo">
                <p id="GetYourApi">Don't have an api key? Get yours <a href="https://openweathermap.org/price" target="_blank">here</a> </p>
        </div>

        <script src="../../public/js/homePage.js" type="text/javascript"></script>
        
    </body>
</html>